hello I am a form
<%= form_tag "/submit_form", method: :post do %>
  <div>
    Enter message here: <input type="text" name="myname">
  </div>
  <div>
   <%= text_field_tag :myothername %>
  </div>
  <div>
    <input type="submit" value="I am a submit button...NOT">
  </div>
<% end %>


